<div class="event">
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <img src="http://lorempixel.com/320/150/sports/<%= event.id % 11 %>" alt="">
      <div class="caption">
        <h4 class="pull-right"><%= event.start_time.strftime("%b %d") %></h4>
        <h4><%= link_to event.name, event %>
        </h4>
        <p><%= event.description %></p>
        <p>₹ <%= event.price.to_f %></p>
      </div>
      <div class="ratings">
          <% if ((current_user.present?) && (current_user.attending? event))  %>
            <%= form_tag({:action => 'unattend'}, :method => :post) do %>
              <%= hidden_field_tag :id , event.id %>
              <%= submit_tag 'Unattend' %>
            <% end %>
          <% else %>
            <%= form_tag({:action => 'attend'}, :method => :post) do %>
              <%= hidden_field_tag :id , event.id %>
              <%= submit_tag 'Attend' %>
            <% end %>
          <% end %>
        <p><%= event.venue %></p>
      </div>
    </div>
  </div>
</div>



