<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>This event is being attended by:</strong>
  <% @event.bookings.each do |a| %>
     <p>Name: <%= a.user.email %> Gender: <%= a.user.gender %></p>
  <% end %>
</p>




